.map-container {
    height: 100vh;
}

.popup .mapboxgl-popup-content {
    background-color: rgba(20, 20, 20, 0.9);
    backdrop-filter: blur(50px) saturate(3) !important;
    color: white;
    padding: 10px;
    width: max-content;
    max-height: max-content;
    border-radius: 10px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(20, 20, 20, 0.9);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(20, 20, 20, 0.9);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(20, 20, 20, 0.9);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(20, 20, 20, 0.9);
}
